.loginstatus input
{
    background-color: black;
    color: white;
    border-color: black;
}
.loginstatus 
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}
.loginstatus p
{
    color: white;
}
.status1
{ 
    background-color: blue;
    display: flex;
    flex-direction: row wrap;
    
}